hr {
    border: none;
    border-top: 1px solid $green1;
    margin: 0 10px;
}

.chats-side-container {
    max-width: 300px;
    height: 100vh;
    border-right: 1px solid $green1;
}

.chats-profile-link-container {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 20px;
    padding-right: 10px;
}

.chats-search-container {
    padding: 10px;
}