.chat-preview {
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: $grey6;
}

.chat-preview:hover {
    background-color: $grey3;
    cursor: pointer;
}

.chat-preview-avatar {
    min-width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('../../images/person.png');
}

.chat-preview-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
}

.chat-preview-time {
    font-size: 9px;
    line-height: 9px;
}

.chat-preview-number {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green1;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 9px;
    line-height: 9px;
}

.chat-preview-text {
    margin-right: 10px;
}

.chat-preview-text-name {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.chat-preview-text-message {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}