<div class="chat-preview">
    <div class="chat-preview-avatar"></div>
    <div class="chat-preview-text">
        <p class="chat-preview-text-name">{{name}}</p>
        <p class="chat-preview-text-message">Текст порежем скриптом до двух строчек...</p>
    </div>
    <div class="chat-preview-info">
        <span class="chat-preview-time">{{time}}</span>
        <div class="chat-preview-number"><span>{{number}}</span></div>
    </div>
</div>